
.window-wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 22rem;
    padding: 1rem;
    .window-small {
        border: 2px solid black;
        border-radius: 1rem;
        width: 20rem;
        padding: 1rem;
        font-size: 1.3rem;
        margin-top: 1rem;
        div {
            display: flex;
            justify-content: space-between;
        }
        button {
            font-size: 1.3rem;
            width: 2rem;
            height: 2rem;
        }
    }
}
.text{
    font-size: 1rem;
    margin: auto;
}
.text-red
{
    color: red;
    text-align: center;
}
.text-green
{
    color: lawngreen;
    text-align: center;
}
.button-login
{
    width: 100%;
    height: 1.5rem;
}
.input-login
{
    width: 98%;
    height: 1.5rem;
}